.main_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.main_form_box {
    height: 350px;
    width: 80%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.role {
}
.filter_box {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 390px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 2s; */
}
